@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*internet explorer scrollbalken*/
body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}
/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
scrollbar {
   -moz-appearance: none !important;
   background: rgb(0,255,0) !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: rgb(0,0,255) !important;
}

thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: rgb(255,0,0) !important;
}

scrollbarbutton {
   display: none !important;
}

scrollbar[orient="vertical"] {
  min-width: 15px !important;
}
}
/**/
.scrollbar-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 20px;

    border: 4px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: whiteSmoke;
}
.scrollbar-container .inner {
    height: 2011px;
    width: 1985px;
    padding: 1em;
    background-color: white;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid whiteSmoke 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#login_button{
    display: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, div, p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Canvas */

canvas {
  -webkit-filter: blur(0.6px);
  -moz-filter: blur(0.6px);
  -o-filter: blur(0.6px);
  -ms-filter: blur(0.6px);
  filter: blur(0.6px);
}

#Profile {
  position: absolute;
  margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 120px; height: 120px;
  border-radius: 120px;
  text-align: center;
  z-index: 1; 
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#Profile img {
  border-radius: 120px;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(0.7);
  -moz-filter: grayscale(0.7);
  -ms-filter: grayscale(0.7);
  filter: grayscale(0.7);
  opacity: 0.9;
  display: none;
}

#Profile:before {
  content: '';
  position: absolute;
  top: -6px; left: -6px;
  width: 130px; height: 130px;
  border-radius: 162px;
  border: 1px solid #BCBCBC;
}

#Profile:after {
  content: '';
  position: absolute;
  top: -11px; left: -11px;
  width: 140px; height: 140px;
  border-radius: 172px;
  border: 1px dashed #81BDA4;
}

.profile_load{
    animation-name: profile_load;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes profile_load{
  0% {
    background-color:rgb(57,123,249);
  }
  20% {
    background-color:rgb(238,238,238);
  }
  50% {
    background-color:rgb(244,180,0);
  }
  75% {
    background-color:rgb(15,157,88);
  }
  100% {
    background-color:rgb(57,123,249);
  }
}

#profile_description {
  position: absolute;
  margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 180px; height: 370px;
  border: 3px solid black;
  color: black;
  padding: 5px;
  background-color: white;
  word-wrap: break-word;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#profile_description div {
    width: 120px; height: 140px;
}

#profile_description ul {
    list-style: none;
    padding: 0;
}

#profile_description li {
    border-bottom: 1px solid black;
}

#dashboard{
  position: absolute;
  margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  height: 500px;
  border: 3px solid rgb(244,180,0);
  padding: 5px;
  opacity: 0;
  background-color: white;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#dashboard #dashboard_nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(244,180,0);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#dashboard #dashboard_nav ul li{
    display: inline-block;
    width: 30%;
    cursor: pointer;
}

#dashboard #dashboard_nav ul li:first-child{
    width: 25%;
}

#dashboard_nav_events{
    color: rgb(244,180,0);
    transition: all 0.3s ease-in 10ms;
}

#dashboard_nav_events .back{
    background-color: rgb(244,180,0);
}

#dashboard_nav_registered{
    color: rgb(15,157,88);
    transition: all 0.3s ease-in 10ms;
}

#dashboard_nav_registered .back{
    background-color: rgb(15,157,88);
}

#dashboard_nav_notification{
    color: rgb(57,123,249);
    transition: all 0.3s ease-in 10ms;
}

#dashboard_nav_notification .back{
    background-color: rgb(57,123,249);
}

.back{
    height: 40px;
    width: 150px;
    margin-left: 20px;
    margin-top: -5px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: scale(0.1);
    transition: all .5s ease-in 10ms;
}

#dashboard #dashboard_nav ul li:first-child .back{
    width: 130px;
}

#dashboard #dashboard_nav ul li:hover{
    color: white;
}

#dashboard #dashboard_nav ul li:hover .back{
    opacity: 0.8;
    transform: scale(1);
}

#dashboard_nav_events{
    color: white;
}

#dashboard_nav_events .back{
    transform: scale(1);
    opacity: 1;
}

.dashboard_desc{
    padding: 5px;
    height: 400px;
    text-align: justify;
    overflow: auto;
}

#dashboard_notification, #dashboard_registered{
    display: none;
}

@media (max-width: 700px){
    #dashboard_nav{
        display: none;
    }
}

@media (min-width: 700px){
    #dashboard_nav_mobile{
        display: none;
    }
    #dashboard_nav_mobile_selected{
        display: none;
    }
}

#dashboard_nav_mobile{
    display: none;
}

#dashboard_nav_mobile ul{
    list-style: none;
    position: absolute;
    width: 90%;
    height: 115px;
    left: 5%;
    top: 60px;
    z-index: 1;
    padding: 0;
    text-align: center;
    background-color: rgb(244,180,0);
    color: white;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#dashboard_nav_mobile ul li{
    cursor: pointer;
    border: .1px solid white;
}

#dashboard_nav_mobile_selected{
    height: 45px;
    width: 70%;
    margin-left: 15%;
    background-color: rgb(244,180,0);
    text-align: center;
    cursor: pointer;
    color: white;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    
}

#dashboard_nav_mobile_selected img{
    position: absolute;
    margin-top: -5px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#basic_details{
  position: absolute;
  margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  height: 500px;
  border: 3px solid rgb(244,180,0);
  padding: 5px;
  background-color: white;
  z-index: 100;
  display: none;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

 /*curtain*/
 .curtain {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: auto; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#feedback{
  position: absolute;
  margin: auto;
  top: 0; right: 0; left: 0; bottom: 0;
  height: 65%;
  border: 3px solid rgb(30,35,244);
  padding: 8px;
  /*border-radius: 50px;*/
  background-color: #f2f2f2;
  z-index: 999;
  display: none;
  text-align: center;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#basic_details input, select{
    width: 100%;
}

#basic_details #submit{
    margin-top: 10px;
}

#feedback input, select{
    width: 55%;
}

#feedback #submit2{
    width: 55%;
    margin-top: 30px;
}

#logout_button{
    position: absolute;
    margin: auto;
    top: 0; right: 0; left: 0; bottom: 0;
    height: 25px;
    border: 3px solid black;
    padding: 5px;
    width: 180px;
    background-color: white;
    z-index: 55;
    text-align: center;
    opacity: 0;
    display: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

#feedback_button{
    position: absolute;
    margin: auto;
    top: 0; right: 0; left: 0; bottom: 0;
    height: 25px;
    border: 3px solid black;
    padding: 5px;
    width: 180px;
    background-color: white;
    z-index: 55;
    text-align: center;
    opacity: 0;
    display: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

@media (min-width:700px){
    #basic_details{
        width: 50%;
    }
}

@media (max-width:700px){
    #basic_details{
        width: 90%;
    }
}
@media (min-width:700px){
    #feedback{
        width: 50%;
    }
}

@media (max-width:700px){
    #feedback{
        width: 90%;
    }
}

#unique_event_id{
    opacity: 0;
}

.adsbygoogle{
    position: absolute;
    left: 34%;
    top: 1%;
    margin: auto;
    width: 600px;
    display: none;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media (max-width:900px){
    .adsbygoogle{
        width: 450px;
        left: 35%;
    }
}

@media (max-width:700px){
    .adsbygoogle{
        width: 90%;
        left: 5%;
        top: 570px;
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
@media (min-width:700px){
    .btn{
    margin-left:45px;
    float:left;
    width:150px;
    cursor: pointer;
    text-align: center;
    border: 1px dashed black;
    margin-bottom: 10px;
    }
}

@media (max-width:700px){
    .btn{
    margin:auto;
    width:150px;
    cursor: pointer;
    text-align: center;
    border: 1px dashed black;
    margin-bottom: 10px;
    }
}
#first{
  margin-top: 185px;  
}
.first{
  margin-top: 120px;
}

@media (max-width:700px){
   .first{
  margin-top: 20px;
   }

textarea{
    width: 90%;
}
 
#first{
  margin-top: 150px;  
}
}
.b-btn{
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 2px solid black;
}

.event-block:first{
}

.event-block{
    margin-top:20px;
    cursor: pointer;
}

.event_register_button{
    border: 2px solid black;
    padding:3px;
    cursor: pointer;
}

#eventregistration{
    text-align: center;
}

#eventregistration input{
    width: 90%;
}
label{
    display: block;
    width: 100%;
}

#eventregistration select{
    width: 90%;
}

#eventregistration input.registersubmit{
    margin-top: 20px;
    width: 50%;
}


#branch, #ename, #eventd, #eventregistration{
    display: none;
}



#techfooter{
    position: fixed;
    margin: auto;
    right: 0; left: 0; bottom: 2px;
    width: 100%; height: 4%;
    padding: 2px;
    color:white;
    opacity: 0.8;
    background-color: #454545;
    word-wrap: break-word;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
